<br />
<br />
<br />

<!-- 分享模块二维码 -->
<!-- <div class="share">
  分享
  <div id="qrcode"></div>
</div> -->

<!-- 分享模块按钮 -->
<div
  class="social-share"
  data-initialized="true"
  data-image="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/logo.png"
>
  <span class="shareto notselect">分享到：</span>

  <a href="#" class="social-share-icon icon-weibo">
    <img
      src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/share_img/weibo.svg"
      alt=""
    />
  </a>
  <a href="#" class="social-share-icon icon-qzone">
    <img
      src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/share_img/qzone.svg"
      alt=""
    />
  </a>
  <a href="#" class="social-share-icon icon-wechat"
    ><img
      src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/share_img/wechat.svg"
      alt=""
  /></a>
  <a href="#" class="social-share-icon icon-facebook"
    ><img
      src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/share_img/facebook.svg"
      alt=""
  /></a>
  <a href="#" class="social-share-icon icon-twitter"
    ><img
      src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/share_img/twitter.svg"
      alt=""
  /></a>
</div>

<hr />

<!-- 计数模块 -->
<p class="busuanzi-count notselect">
  <!-- <span id="busuanzi_container_page_pv" class="line">
    本文总阅读量<span id="busuanzi_value_page_pv" class="number"></span>次
  </span>
  <span class="clip">|</span> -->
  <span id="busuanzi_container_site_pv"
    >本站总访问量<span id="busuanzi_value_site_pv" class="number"></span>次
  </span>
</p>

<!-- 赞赏模块 -->
<div class="reward ">
  <div class="entry-shang text-center">
    <button class="zs show-zs btn btn-bred">赞赏</button>
  </div>
  <div class="zs-modal-bg"></div>
  <div class="zs-modal-box">
    <div class="zs-modal-head">
      <div class="close">×</div>
      <span class="author" style="margin-left: 15px;">
        Lien
      </span>
      <p class="tip"><i></i><span>谢谢你的赞赏~</span></p>
    </div>
    <div class="zs-modal-body">
      <div class="zs-modal-btns">
        <button class="btn btn-blink" data-num="2">2元</button>
        <button class="btn btn-blink" data-num="5">5元</button>
        <button class="btn btn-blink" data-num="10">10元</button>
        <button class="btn btn-blink" data-num="50">50元</button>
        <button class="btn btn-blink" data-num="100">100元</button>
        <button class="btn btn-blink" data-num="1">任意金额</button>
      </div>
      <div class="zs-modal-pay">
        <button class="btn btn-bred" id="pay-text">2元</button>
        <p>使用<span id="pay-type">微信</span>扫描二维码完成支付</p>
        <img
          src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/reward/wechat-btn.png"
          id="pay-image"
        />
      </div>
    </div>
    <div class="zs-modal-footer">
      <label>
        <input
          type="radio"
          name="zs-type"
          value="wechat"
          class="zs-type"
          checked="checked"
        />
        <span class="zs-wechat">微信</span>
      </label>
      <label>
        <input type="radio" name="zs-type" value="alipay" class="zs-type" />
        <span class="zs-alipay">支付宝</span>
      </label>
      <label>
        <input type="radio" name="zs-type" value="BTC" class="zs-type" />
        <span class="zs-btc">BTC</span>
      </label>
    </div>
  </div>
</div>

<!-- 评论模块 -->
<div class="page-comments">
  <div id="gitalk-container"></div>
</div>

<!-- 页脚 -->
<div class="donate one notselect">© 2019-<span id="time-bot"></span> Lien</div>
<div class="donate two notselect">Talk is cheap, show me the code.</div>
