body {
  background: #008082;
  font-family: sans-serif, serif, monospace;
  font-size: 13px;
  min-width: 300px;
}

// .gt-comment-text {
// }

.bigcon {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45%;
  transform: translateY(-50%);
  #typew {
    color: #bfb8bf;
    font-weight: bold;
    word-spacing: 2px;
    margin-top: 2px;
    // letter-spacing: 1px;
    text-indent: 2.5em;
    font-size: 12px;
    line-height: 12px;
  }
}

.wrapper,
.content {
  margin: auto;
  height: 550px;
  background: #bfb8bf;
  border: 2px solid;
  border-color: #fff8ff #000000 #000000 #fff8ff;
  padding: 2px 0;
  min-width: 300px;
}
.wrapper {
  float: left;
  width: 28%;
  .logo {
    // padding-left: 5px;
    padding: 2px 0 2px 5px;
    width: 20px;
    display: block;
    float: left;
  }
}
.content {
  width: 68%;
  float: right;
}

.default_title,
.post_title {
  padding: 2px 4px 3px 4px;
  position: relative;

  h1 {
    color: #bfb8bf;
    font-size: 14px;
    line-height: 12px;
    font-weight: bold;
  }

  img {
    float: left;
    width: 14px;
    height: 14px;
    margin: 0 3px 0 0;
  }
  .textimg {
    margin-top: 1.5px;
  }
}
.default_title a {
  text-decoration: none;
}
.default_title img {
  margin-right: 0;
}

.post_title {
  .textimg {
    margin-left: 2px;
  }
  position: relative;
  h1 {
    display: inline-block;
  }

  .btn_no {
    float: none;
    margin: 0 0 0 2px;
  }

  a {
    color: #000000;
  }

  .iconac {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  .btn {
    cursor: pointer;
    margin-top: 1px;
    background: #cccccc;
    width: 13px;
    height: 13px;
    display: inline-block;
    float: right;
    border: 2px solid;
    border-color: #fff8ff #000000 #000000 #fff8ff;
  }

  .btn_max,
  .btn_no {
    margin-left: 8px;
  }

  .btnimg {
    width: 12px;
    height: 12px;
  }
}

ul.topbar {
  list-style: none;
  padding: 0 10px;
  margin: 3px 0 3px 0;

  li {
    display: inline-block;
    margin: 0 5px 0 0;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
}
.post_list,
.tag_list,
.post_content {
  background: #fff8ff;
  border-width: 2px;
  border-style: ridge groove groove ridge;
  border-color: #7f787f #fff8ff #fff8ff #7f787f;
}
.post_list {
  overflow: hidden;
  width: 98.2%;
  margin: 0 auto;
  min-height: 490px;
  max-height: 490px;
  overflow-y: scroll;
  display: inline-block;

  ul {
    list-style: none;

    li {
      position: relative;
      padding: 4px 0;
      margin: 15px 0 15px 10px;
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 19px;
      }

      a {
        margin-left: 25px;
        color: #0000ff;
      }
    }
  }
}
.tag_list {
  width: 28%;
  margin: 0 auto;
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
  display: inline-block;

  img {
    height: 16px;
    width: 16px;
    margin: -2px 5px;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  ul {
    li {
      max-width: 27ch;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
#tag-list {
  background: transparent
    url(https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/pixel-alt.png)
    repeat-y 15px 0;
}
#tag-list li {
  padding: 0 0 0 2px;
}
#tag-list li a {
  background: #fff8ff;
  display: block;
  padding: 2px 0;
}
#tag-list li ul li {
  background: transparent
    url(https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/pixel-alt.png)
    repeat-x 0 8px;
  margin: 4px 0 4px 13px;
  padding: 0 0 0 20px;
}
.post_total {
  padding-top: 1px;
  cursor: default;
  padding-left: 8px;
  .left,
  .right {
    border: 1px solid;
    border-color: #888888 #dadada #dadada #888888;
    display: inline-block;
    padding: 1px 3px;
  }
  .left {
    width: 98.4%;
    margin-left: 2px;
  }
  .right {
    width: 64%;
    margin-right: 2px;
  }
}
.post_content {
  position: relative;
  width: 98.5%;
  height: 503px;
  padding: 2px;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: scroll;
  img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  p {
    margin: 0 auto;
    width: 85%;
    line-height: 150%;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 1px;
  }
  p:first-child {
    margin-top: 15px;
  }
  a {
    color: #0000ff;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 50px 0 30px 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 25px 0 10px 0;
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 25px 0 10px 0;
  }
  h4 {
    font-size: 14px;
    font-weight: 700;
    margin: 25px 0 10px 0;
  }
  h5 {
    font-size: 12px;
    font-weight: 700;
    margin: 25px 0 5px 0;
  }
  h6 {
    font-size: 10px;
    font-weight: 700;
    margin: 25px 0 5px 0;
  }

  table {
    margin: 0 auto 15px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 20px;
  }
  em {
    font-style: italic;
  }

  blockquote {
    border-left: 3px solid #000000;
    width: 85%;
    margin: 0 auto;
    padding-left: 8px;
    p {
      width: 100%;
      text-align: justify;
    }
  }

  strong {
    font-weight: 700;
  }

  hr {
    border-top: 1px solid #ccc;
    border-left: 0;
  }

  ul {
    list-style: square;
    width: 85%;
    margin: 0 0 15px 73px;

    li {
      padding: 5px;
      line-height: 20px;
      font-size: 14px;

      ul {
        margin: 10px 0 0 15px;

        li {
          padding: 5px;
        }
      }
    }
  }

  ol {
    list-style: decimal-leading-zero;
    margin: 0 0 15px 45px;
    width: 85%;

    li {
      padding: 5px;

      ul {
        margin: 10px 0 0 15px;

        li {
          padding: 5px;
        }
      }
    }
  }

  table,
  th,
  td {
    border: 1px solid #222222;
    padding: 2px;
  }

  pre {
    width: 85%;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
    code table {
      margin: 0;
      tr th:first-child {
        display: none;
      }
    }
  }
}
.hljs {
  background: #fff8ff;
}
.footer {
  font-size: 12px;
  margin: 30px 0 10px 0;

  p {
    text-align: center;

    a {
      color: #24244a;
    }
  }
}
.donate {
  text-align: center;
  margin: 10px 0;
  cursor: default;
}
.one {
  margin-top: 20px;
}
.two {
  margin-bottom: 20px;
}
.post_content .four-four {
  font-weight: 600;
  margin-top: 5px;
  margin-left: 50px;
  font-size: 18px;
}
.post_content .four-ul {
  margin-left: 100px;
}
@media only screen and (max-width: 1208px) {
  .wrapper,
  .content {
    width: 90%;
    float: none;
    margin: 20px auto 20px;
  }

  .post_list {
    min-height: auto;
  }
  .wrapper {
    height: auto;
    margin-bottom: 20px;
  }
  .bigcon {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    margin-left: auto;
    transform: none;
  }
}

@media only screen and (max-width: 900px) {
  .content {
    width: 90%;
  }
  .post_content {
    .share {
      display: none;
    }
  }
}
@media only screen and (max-width: 700px) {
  .content {
    width: 90%;
  }
  .post_content {
    width: 98%;
  }
  #resource-con .resource-text {
    width: 55%;
  }
}
@media only screen and (max-width: 810px) {
  .post_content ul {
    margin: 0 0 15px 30px;
  }
  .wrapper {
    width: 90%;
  }
  .post_total {
    .left {
      width: 98.4%;
    }
    .right {
      float: right;
      width: 60%;
    }
  }
}

@media only screen and (max-width: 750px) {
  .tag_list {
    width: 99%;
  }
  .post_list {
    width: 99%;
    float: left;
  }
  .post_total {
    .left {
      width: 98.4%;
    }
    .right {
      float: right;
      width: 60%;
    }
  }
}
@media only screen and (max-width: 610px) {
  .tag_list {
    width: 98.7%;
  }
  .post_list {
    width: 98.7%;
    float: left;
  }
  .post_total {
    .left {
      width: 97.5%;
    }
  }
}
@media only screen and (max-width: 520px) {
  .bigcon #typew {
    // display: none;
  }
  .post_total {
    .left {
      width: 97%;
    }
  }

  .post_content .four-four {
    font-weight: 600;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
  }
  .post_content .four-ul {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 410px) {
  .default_title,
  .post_title {
    h1 {
      font-size: 12px;
    }
  }
  .post_content {
    width: 97%;
  }
  .post_total {
    .left {
      width: 97%;
    }
  }
}
@media only screen and (max-width: 375px) {
  .post_total {
    .left {
      width: 96%;
    }
  }
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-image: url("https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/track.png");
  background-repeat: repeat-x repeat-y;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-width: 2px;
  border-style: groove ridge ridge groove;
  border-color: #fff8ff #000000 #000000 #fff8ff;
}

::-webkit-scrollbar-button {
  background-color: #cccccc;
  border-width: 2px;
  border-style: groove ridge ridge groove;
  border-color: #fff8ff #000000 #000000 #fff8ff;
  background-position: center center;
  background-repeat: no-repeat;

  &:vertical:decrement {
    background-image: url("https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/up.png");
  }

  &:vertical:increment {
    background-image: url("https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/down.png");
  }

  &:horizontal:decrement {
    background-image: url("https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/left.png");
  }

  &:horizontal:increment {
    background-image: url("https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/right.png");
  }

  &:active {
    background-position: 1px 2px;
  }
}

::-webkit-scrollbar-corner {
  background-color: #cacaca;
}
.default_title,
.post_title,
.topbar {
  cursor: default;
}

.clear {
  clear: both;
}

// 评论模块
.page-comments {
  width: 90%;
  margin: 0 auto;
  .gt-container {
    .gt-meta {
      margin: 1.25em 0 0 0;
      border-bottom: none;
      padding: 1em 0 0.5em 0;
    }
    .gt-link {
      border: none;
    }
    .gt-header-controls-tip {
      color: #000;
      font-weight: 700;
      opacity: 0.5;
    }
    .gt-svg svg {
      fill: #000;
      margin-bottom: 2px;
    }
    .gt-ico-text {
      margin-left: 2px;
    }
    .gt-header {
      position: relative;
      display: flex;
      background: #fff;
      padding: 20px;
      border: 1px solid rgba(0, 0, 0, 0.09);
      border-radius: 3px;
      margin-top: 5px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
    }
    .gt-avatar {
      border-radius: 100%;
      overflow: hidden;
      img {
        margin: 0 auto;
      }
    }
    .gt-header-textarea {
      background-color: transparent;
      border: none;
      border-radius: 0;
      font-size: 15px;
      font-weight: 600;
    }
    .gt-header-textarea::placeholder {
      font-weight: normal;
      color: #ccc;
      font-size: 14px;
    }
    .gt-header-textarea:hover {
      background-color: transparent;
      border: none;
      border-radius: 0;
    }
    .gt-btn {
      background: 0 0;
      color: #555;
      border: 1px solid #555;
      border-radius: 3px;
    }
    .gt-btn:hover {
      background-color: #fafafa;
      border: 1px solid #555;
    }
    .gt-comment {
      margin-top: 20px;
      padding: 20px;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.09);
      border-radius: 3px;
    }
    .gt-comment-content {
      background-color: transparent !important;
    }
    .gt-comment-content:hover {
      box-shadow: none;
    }
    .gt-comment-username {
      font-size: 13px;
    }
    .markdown-body p {
      margin-left: 0;
    }
    .gt-comments-null {
      display: none;
    }
    .gt-initing-text {
      display: none;
    }
  }
}

#demo-con {
  text-align: justify;
  margin: 2em auto;
  width: 85%;
  .demo-list {
    list-style: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
    .demo-item {
      margin: 0;
      padding: 0;
      line-height: 1.4em;
      .demo-link {
        font-size: 15px;
        text-decoration: none;
        position: relative;
        display: block;
        margin: 0 -8px;
        padding: 10px;
        .name {
          color: #0000ff;
          font-weight: bold;
          display: inline;
          border: 0;
          letter-spacing: 1px;
        }
        .version {
          letter-spacing: 1px;
          color: #1d2021;
          display: inline;
        }
        .version::before {
          content: " · ";
          margin: 0 0 0 8px;
        }
        .version::after {
          content: " · ";
          margin: 0 8px 0 0;
        }
        .desc {
          display: inline;
          margin: 0;
          border: 0;
          color: #1d2021;
          letter-spacing: 1px;
        }
      }
      .demo-link:hover,
      .demo-link:visited:hover,
      .demo-link:active:hover {
        background: rgba(0, 0, 0, 0.05);
      }
      .demo-link:hover .name,
      .demo-link:visited:hover .name,
      .demo-link:active:hover .name {
        color: #1d2021;
      }
    }
  }
}

#resource-con {
  cursor: default;
  display: flex;
  box-sizing: border-box;
  text-align: justify;
  margin: 2.2em auto 2.7em;
  width: 85%;
  max-height: 120px;
  font-size: 15px;
  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 10px 0;
      margin: 15px 0;
      line-height: inherit;
    }
    li:first-child {
      margin-top: 0;
    }
    li:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  .resource-img {
    float: left;
    width: 12%;
    img {
      width: 100%;
      box-shadow: 0 16px 32px 0 rgba(163, 177, 191, 0.3);
    }
  }
  .resource-text {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    width: 86%;
    h3 {
      margin: 0;
      color: #0000ff;
      margin-bottom: 8px;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      color: #666;
      height: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 22px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0 0 22px 0;
      width: 100%;
      text-align: justify;
    }
    a {
      text-decoration: none;
      display: flex;
      margin: 0;
      height: 14px;
      line-height: 14px;
      width: 60px;
    }
    a:hover {
      opacity: 0.7;
    }
    .dow {
      margin-right: 5px;
      width: 14px;
      height: 14px;
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
}

.post_content {
  .share {
    position: relative;
    background: #ccc;
    width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto 70px;
    border: 2px solid;
    border-color: #fff8ff #000000 #000000 #fff8ff;
    #qrcode {
      display: none;
      position: absolute;
      top: 30px;
      img {
        width: 63px;
      }
    }
  }
  .share:hover #qrcode {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  #resource-con .resource-text p {
    margin: 0 0 10px 0;
  }

  .post_content .busuanzi-count .clip {
    display: none;
  }

  .busuanzi-count {
    .line {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 700px) {
  .post_title .btn_small,
  .post_title .btn_max {
    display: none;
  }
  #resource-con .resource-text {
    width: 65%;
  }
  #resource-con .resource-img {
    width: 30%;
  }
  #resource-con .resource-text a {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 360px) {
  #resource-con .resource-text {
    width: 65%;
  }
  #resource-con .resource-img {
    width: 30%;
  }
  #resource-con .resource-text a {
    margin-top: 0;
  }
  #resource-con .resource-text p {
    margin: 0 0 15px 0;
  }
}

// 赞赏模块
.post_content .reward {
  display: none;
}

// 分享模块
.post_content .share {
  display: none;
}

// 网站计数模块
.post_content .busuanzi-count {
  display: block;

  cursor: default;
  color: #ccc;
  text-align: center;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  .clip {
    font-size: 15px;
    line-height: 30px;
    margin: 0 5px;
  }
  .number:hover {
    color: rgb(148, 144, 144);
    transition: 0.5s;
  }
}

// 禁止鼠标选中
.notselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.content .posttitle {
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 15px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
