---
layout: default
---

<h1>So who am I?</h1>
<p>
  我叫边玉杰，前端开发者。这个网站记录了我一直以来不断学习新事物的经历，也有很多我认为不错的小<a
    href="/Demo/"
    >项目</a
  >。 其中虽然有失败，但也有很酷很值得骄傲的事。
</p>
<p>
  同时我也是一名开源工作者。<a
    href="https://github.com/lzh-open-source-club"
    target="_blank"
    >LZH open-source club</a
  >， 一个建立在 GitHub
  上的组织，旨在形成一个自由、互助、健康的开源互联网社区。这个想法诞生于2019年3月，到目前我们已经有了
  <a href="https://discord.gg/GkcbfP6" target="_blank" rel="noopener noreferrer"
    >Discord group</a
  >，<a href="https://t.me/lzhchat" target="_blank">Telegram group</a>，<a
    href="https://gitter.im/LZH-OPEN-CLUB/LZHCHAT?utm_source=share-link&utm_medium=link&utm_campaign=share-link"
    target="_blank"
    rel="noopener noreferrer"
    >Gitter group</a
  >，<a
    href="https://github.com/orgs/lzh-open-source-club/people"
    target="_blank"
    >Core Team</a
  >
  等。
</p>
<p>我会在网站中主要分享和讨论技术，特别是web前端技术。</p>
<h1>Me off the net...</h1>
<p>除了程序之外，我也很喜欢摄影、阅读（文学类）。</p>
<p>
  其它的一些小愿望：能经常带爸妈出去旅游、交一个外国朋友、去趟地中海、开一家民宿和写一本自己的电子书。
</p>
<p>写书的目的并不是为了出版，而是想记录一下自己曾经的故事和经历。</p>
<p></p>
<h1>My skills</h1>
<div id="main" style="width: 100%;height:400px;margin: -50px auto -20px;"></div>
<h1>FriendSite</h1>
<p>
  这里是我收藏的网站链接，有一些是我现实生活中的朋友，有一些是我经常去逛的，还有一些是我觉得比较酷的。把它们收集起来，偶尔看看。
</p>
<ul>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="https://lemonfan.me/"
      >LemonFan</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="http://lixiaolai.com/"
      >{am}xiaolai</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="https://forbetty.com/"
      >Betty</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="https://alili.tech/"
      >alili</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="https://evanyou.me/"
      >Evan You</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="http://www.laruence.com/"
      >Laruence</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="https://daimajia.com/"
      >代码家</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="https://overtrue.me/"
      >overtrue</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="http://cherryblog.site/"
      >Cherry`s Blog</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="https://jiongks.name/"
      >囧克斯</a
    >
  </li>
  <li>
    <a target="_blank" rel="noopener noreferrer" href="https://coolshell.cn/"
      >coolshell</a
    >
  </li>
  <li>
    <a target="_blank" href="http://www.xiaoji-chen.com/"
      >Xiaoji Chen`s Design Weblog</a
    >
  </li>
</ul>
<h1>Find me</h1>
<p>你也可以在下面这些地方找到我：</p>
<ul>
  <li>
    <a
      href="https://github.com/isArtJay"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub&nbsp;&nbsp;@isArtJay</a
    >
  </li>

  <li>
    <a href="https://weibo.com/artjay" target="_blank" rel="noopener noreferrer"
      >微博&nbsp;&nbsp;@边玉杰</a
    >
  </li>
  <li>
    <a
      href="https://juejin.im/user/5a47b7d251882566e4165498"
      target="_blank"
      rel="noopener noreferrer"
      >掘金&nbsp;&nbsp;@边玉杰</a
    >
  </li>
  <li>
    <a
      href="https://www.zhihu.com/people/yj_bian"
      target="_blank"
      rel="noopener noreferrer"
      >知乎&nbsp;&nbsp;@边玉杰</a
    >
  </li>
  <li>
    <a
      href="http://mp.weixin.qq.com/s?__biz=MzU4OTc1NDc4Nw==&mid=100000004&idx=1&sn=37cae9853e072de3d5ee03682854640d&chksm=7dc9f9c84abe70de4b308f529a51316ac7641f18d53531105022a0b48d0f730003bfa7304b9c#rd"
      target="_blank"
      rel="noopener noreferrer"
      >公众号&nbsp;&nbsp;@前端小杰</a
    >
  </li>
  <li>
    <a
      href="https://twitter.com/yj_bian"
      target="_blank"
      rel="noopener noreferrer"
      >Twitter&nbsp;&nbsp;@YJ Bian</a
    >
  </li>
  <li>
    <a href="https://t.me/yj_bian" target="_blank" rel="noopener noreferrer"
      >Telegram&nbsp;&nbsp;@yj_bian</a
    >
  </li>
  <li>
    <a
      href="https://medium.com/@yj_bian"
      target="_blank"
      rel="noopener noreferrer"
      >Medium&nbsp;&nbsp;@yj_bian</a
    >
  </li>
  <li>
    <a href="#" rel="noopener noreferrer"
      >Email&nbsp;&nbsp;bianyujia@lien.run</a
    >
  </li>
</ul>
<h1>End</h1>
<p>我希望自己的网站是一张名片，来的人有所收获。</p>
<p>关于编程，关于前端，我会一直热爱。</p>
<p>愿故事不结束，青春不散场。</p>
<h1></h1>
<h1></h1>
