---
layout: default
---

<article>
  {% include meta.html post=page %} {{ content }} {% if page.comments != false
  and site.comments.isso or site.comments.disqus %}
  <hr />
  {% if site.comments.isso_domain %}
  <div id="isso-thread"></div>
  {% endif %} {% if site.comments.disqus_shortname %}
  <div id="disqus_thread"></div>
  {% endif %}
  <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}

  <div class="uptop" id="uptop">
    <img
      src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/assets/img/back-top.png"
      id="to-top"
    />
  </div>
</article>

{% if site.show_related %}

<footer class="related">
  <div class="previous">
    {% if page.previous.url %}<span>上一篇</span
    ><a href="{{ page.previous.url | relative_url }}"
      >{{ page.previous.title }}</a
    >{% endif %}
  </div>
  <div class="next">
    {% if page.next.url %}<span>下一篇</span
    ><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>{%
    endif %}
  </div>
</footer>
{% endif %}
