---
layout: default
---

<h1>项目（持续更新中 . . .）</h1>
<p>
  这里有一些我业余时间写的小项目，更多编程项目可以在我的
  <a
    href="https://github.com/isArtJay"
    target="_blank"
    rel="noopener noreferrer"
    >GitHub</a
  >
  主页上找到。
</p>

<section id="demo-con">
  <ul class="demo-list">
    <li class="demo-item">
      <a
        class="demo-link"
        href="https://www.lien.run/Project/emoji/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="name">favicon.svg</span>
        <p>
          <span class="version">1.0.0</span>
          <span class="desc">将网页的favicon图标换成动态的emoji表情</span>
        </p>
        <div class="clear"></div>
      </a>
    </li>

    <li class="demo-item">
      <a
        class="demo-link"
        href="https://www.lien.run/Project/date-calculator/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="name">date-calculator</span>
        <p>
          <span class="version">0.0.5</span>
          <span class="desc">日期计算器</span>
        </p>
        <div class="clear"></div>
      </a>
    </li>

    <li class="demo-item">
      <a
        class="demo-link"
        href="https://www.lien.run/Project/page-minimap/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="name">page-minimap</span>
        <p>
          <span class="version">0.3.12</span>
          <span class="desc">网页的迷你地图</span>
        </p>
      </a>
    </li>

    <li class="demo-item">
      <a
        class="demo-link"
        href="https://www.lien.run/Project/typewriter/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="name">typewriter</span>
        <p>
          <span class="version">0.2.4</span>
          <span class="desc">优美的打字机</span>
        </p>
      </a>
    </li>

    <li class="demo-item">
      <a
        class="demo-link"
        href="https://www.lien.run/Project/reward/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="name">reward</span>
        <p>
          <span class="version">0.0.5</span>
          <span class="desc">一个简单的网站赞赏功能</span>
        </p>
      </a>
    </li>
  </ul>
</section>
