---
layout: default
---

<h1>共享资源</h1>
<p>这里我会分享一些我认为比较不错的资源，包括电子书...</p>
<section id="resource-con">
  <ul>
    <li>
      <div class="resource-img">
        <a
          href="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/book/Git.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/book/git.png"
          />
        </a>
      </div>
      <div class="resource-text">
        <h3>Pro Git</h3>
        <div>
          <p>
            什么是“版本控制”？我为什么要关心它呢？
            版本控制是一种记录一个或若干文件内容变化，
            以便将来查阅特定版本修订情况的系统。
            在本书所展示的例子中，我们对保存着软件源代码
            的文件作版本控制，但实际上，你可以对任何类型的文件进行版本控制。
          </p>
        </div>
        <a
          href="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/book/Git.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="dow"
            ><img
              src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/book/dowload.png"
          /></span>
          <span>下载</span>
        </a>
      </div>
      <div class="clear"></div>
    </li>

    <li>
      <div class="resource-img">
        <a
          href="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/book/how-to-be-a-programmer.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/book/how-to-be-a-programmer.png"
          />
        </a>
      </div>
      <div class="resource-text">
        <h3>How to be a programmer</h3>
        <div>
          <p>
            做一个好的程序员，困难而高尚。将一个软件工程集体愿景变为现实，最困难的地方在于
            与你的同事和顾客相处。编程很重要，这需要强大的智力和技能。
            但在好的程序员看来，相
            比构建一个让客户和各种各样的同事都满意的软件系统，（纯粹的）编程真的只是小孩子的
            玩意。
          </p>
        </div>
        <a
          href="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/book/how-to-be-a-programmer.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="dow"
            ><img
              src="https://lien-1258580758.cos.ap-shanghai.myqcloud.com/book/dowload.png"
          /></span>
          <span>下载</span>
        </a>
      </div>
      <div class="clear"></div>
    </li>
  </ul>
</section>
